doctype html
head
    // Basic Page Needs
    meta(charset='utf-8')
    title 2Faces | Android WebView
    meta(http-equiv='X-UA-Compatible' content='IE=edge')

    // Mobile Specific Meta
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')

    // SocketMain Params
    meta(name="description", content=ip_port)

    // CSS
    link(rel='stylesheet' href='assets/css/bootstrap.min.css')
    link(rel='stylesheet' href='assets/css/jquery-ui.css')
    link(rel='stylesheet' href='assets/css/font-awesome.min.css')
    link(rel='stylesheet' href='assets/css/owl.carousel.min.css')
    link(rel='stylesheet' href='assets/css/slicknav.min.css')
    link(rel='stylesheet' href='assets/css/magnificpopup.css')
    link(rel='stylesheet' href='assets/css/jquery.mb.YTPlayer.min.css')
    link(rel='stylesheet' href='assets/css/typography.css')
    link(rel='stylesheet' href='assets/css/style.css')
    link(rel='stylesheet' href='assets/css/responsive.css')
    // Favicon
    link(rel='shortcut icon' type='image/png' href='assets/img/icon/favicon.ico')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
// preloader area start
#preloader
    .spinner
// preloader area end
// header area start
header#header
    .header-area
        .container
            .row
                .menu-area
                    .col-md-3.col-sm-12.col-xs-12
                        .logo
                            a(href='index.html')
                                img(src='assets/img/icon/icon.png' alt='Zeedapp - App Landing Template' style="max-height:40px; border-radius:10px; background: radial-gradient(circle, rgba(255,255,255,1) 22%, rgba(93,18,248,1) 100%);")
                    .col-md-9.hidden-xs.hidden-sm
                        .main-menu
                            nav.nav-menu
                                ul
                                    li.active
                                        a(href='#home') Home
                                    li
                                        a(href='#feature') Features
                                    li
                                        a(href='#screenshot') Screenshot
                                    li
                                        a(href='#pricing') Pricing
                                    li
                                        a(href='#team') Team
                                    li
                                        a(href='#download') Download
                                    li
                                        a(href='#blog') Blog
                                    li
                                        a(href='#contact') Contact
                    .col-sm-12.col-xs-12.visible-sm.visible-xs
                        .mobile_menu
// header area end
// slider area start
section#home.slider-area
    .container
        .col-md-6.col-sm-6
            .row
                .slider-img
                    img(src='assets/img/icon/logo1.png' alt='slider image')
                    //img(src='assets/img/mobile/slider-left-img.png' alt='slider image')
        .col-md-6.col-sm-6.col-xs-12
            .row
                .slider-inner.text-right
                    h2 Android malware are right behind you!
                    h5 Cybersecurity must be a concern!
                    a
                        i.fa.fa-user-secret
                        | Be careful
// slider area end
// service area start
.service-area
    .container
        .row
            .col-md-4.col-sm-4.col-xs-12
                .service-single
                    img(src='assets/img/service/service-img1.png' alt='service image')
                    h2 Call service
                    p Take The initative to call
            .col-md-4.col-sm-4.col-xs-12.col-6
                .service-single
                    img(src='assets/img/service/service-img2.png' alt='service image')
                    h2 Active warning
                    p Timely detection of accidents
            .col-md-4.col-sm-4.col-xs-12.col-6
                .service-single
                    img(src='assets/img/service/service-img3.png' alt='service image')
                    h2 Care plan
                    p The care content is pushed
// service area end
// about area start
.about-area.ptb--100
    .container
        .section-title
            h2 About App
            p Nemo enim ipsam voluptatem quia voluptas sit
        .row.d-flex.flex-center
            .col-md-6.col-sm-6.hidden-xs
                .about-left-img
                    img(src='assets/img/about/abt-left-img.png' alt='image')
            .col-md-6.col-sm-6.col-xs-12.d-flex.flex-center
                .about-content
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed  eiuiosmod terttmpor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. doliuor in reprehenderit in voluptate velit esse  dolore eu fugiat nulla pariatur. cdatat non proident
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tuiempor incididunt ut labore et dolore magna aliqua. enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
// about area end
// feature area start
section#feature.feature-area.bg-gray.ptb--100
    .container
        .section-title
            h2 Features
            p Nemo enim ipsam voluptatem quia voluptas sit
        .row
            .col-md-4.col-sm-6.col-xs-12
                .ft-content.rtl
                    .ft-single
                        img(src='assets/img/icon/feature/1.png' alt='icon')
                        .meta-content
                            h2 Full Optional
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt
                    .ft-single
                        img(src='assets/img/icon/feature/2.png' alt='icon')
                        .meta-content
                            h2 Unique Design
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt
                    .ft-single
                        img(src='assets/img/icon/feature/3.png' alt='icon')
                        .meta-content
                            h2 Voice Maker
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt
            .col-md-4.hidden-sm.col-xs-12
                .ft-screen-img
                    img(src='assets/img/mobile/ft-screen-img.png' alt='image')
            .col-md-4.col-sm-6.col-xs-12
                .ft-content
                    .ft-single
                        img(src='assets/img/icon/feature/4.png' alt='icon')
                        .meta-content
                            h2 Easy Settings
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt
                    .ft-single
                        img(src='assets/img/icon/feature/5.png' alt='icon')
                        .meta-content
                            h2 Flat Design
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt
                    .ft-single
                        img(src='assets/img/icon/feature/6.png' alt='icon')
                        .meta-content
                            h2 Easy Download
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, iumod tempor incididunt
// feature area end
// achivement area start
.achivement-area.ptb--100
    .container
        .row
            .col-md-3.col-sm-3.col-xs-12
                .ach-single
                    .icon
                        i.fa.fa-users
                    p
                        span.counter 10
                        | k
                    h5 Happy Clients
            .col-md-3.col-sm-3.col-xs-12
                .ach-single
                    .icon
                        i.fa.fa-book
                    span.counter 978
                    h5 Projects complet
            .col-md-3.col-sm-3.col-xs-12
                .ach-single
                    .icon
                        i.fa.fa-coffee
                    p
                        span.counter 150
                        | k
                    h5 Cups of coffee
            .col-md-3.col-sm-3.col-xs-12
                .ach-single
                    .icon
                        i.fa.fa-trophy
                    span.counter 100
                    h5 Winning awards
// achivement area end
// screen slider area start
section#screenshot.screen-area.bg-gray.ptb--100
    .container
        .section-title
            h2 Screenshot
            p Nemo enim ipsam voluptatem quia voluptas sit
        img.screen-img(src='assets/img/mobile/screen-slider.png' alt='mobile screen')
        .screen-slider.owl-carousel
            .single-screen
                img(src='assets/img/mobile/screen-slider/screen1.jpg' alt='mobile screen')
            .single-screen
                img(src='assets/img/mobile/screen-slider/screen2.jpg' alt='mobile screen')
            .single-screen
                img(src='assets/img/mobile/screen-slider/screen3.jpg' alt='mobile screen')
            .single-screen
                img(src='assets/img/mobile/screen-slider/screen4.jpg' alt='mobile screen')
            .single-screen
                img(src='assets/img/mobile/screen-slider/screen5.jpg' alt='mobile screen')
            .single-screen
                img(src='assets/img/mobile/screen-slider/screen3.jpg' alt='mobile screen')
            .single-screen
                img(src='assets/img/mobile/screen-slider/screen4.jpg' alt='mobile screen')
// screen slider area end
// testimonial carousel area start
.testimonial-area.ptb--100
    .container
        .section-title
            h2 Client Says
            p Nemo enim ipsam voluptatem quia voluptas sit
        .testimonial-slider.owl-carousel
            .single-tst
                img(src='assets/img/author/tst-author1.jpg' alt='author')
                h4 John Doe
                span Founder
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                ul.tst-social
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    li
                        a(href='#')
                            i.fa.fa-linkedin
                    li
                        a(href='#')
                            i.fa.fa-dribbble
                    li
                        a(href='#')
                            i.fa.fa-ponterest
            .single-tst
                img(src='assets/img/author/tst-author2.jpg' alt='author')
                h4 John Doe
                span CEO
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                ul.tst-social
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    li
                        a(href='#')
                            i.fa.fa-linkedin
                    li
                        a(href='#')
                            i.fa.fa-dribbble
                    li
                        a(href='#')
                            i.fa.fa-ponterest
            .single-tst
                img(src='assets/img/author/tst-author1.jpg' alt='author')
                h4 John Doe
                span CEO
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                ul.tst-social
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    li
                        a(href='#')
                            i.fa.fa-linkedin
                    li
                        a(href='#')
                            i.fa.fa-dribbble
                    li
                        a(href='#')
                            i.fa.fa-ponterest
            .single-tst
                img(src='assets/img/author/tst-author2.jpg' alt='author')
                h4 John Doe
                span CEO
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                ul.tst-social
                    li
                        a(href='#')
                            i.fa.fa-facebook
                    li
                        a(href='#')
                            i.fa.fa-twitter
                    li
                        a(href='#')
                            i.fa.fa-linkedin
                    li
                        a(href='#')
                            i.fa.fa-dribbble
                    li
                        a(href='#')
                            i.fa.fa-ponterest
// testimonial carousel area end
// video area start
.video-area.ptb--100
    .container
        .row
            .col-md-8.col-md-offset-2.col-sm-10.col-sm-offset-1.col-xs-12
                h2 Watch Video Demo
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                a.expand-video(href='https://www.youtube.com/watch?v=8qs2dZO6wcc')
                    i.fa.fa-play
// video area end
// pricing area start
section#pricing.pricing-area.ptb--100
    .container
        .section-title
            h2 Pricing Plan
            p Nemo enim ipsam voluptatem quia voluptas sit
        .row
            .col-md-4.col-sm-4.col-xs-12.col-6
                .single-price
                    .prc-head
                        span Silver
                        h5
                            small $
                            | 50/m
                    ul
                        li 10 User
                        li 1 Year
                        li 512 Mb Memory
                        li 30GB SSD Disk
                        li 1 TB Transfer
                        li 6 Months Support
                    a(href='#') Order Now
            .col-md-4.col-sm-4.col-xs-12.col-6
                .single-price
                    .prc-head
                        span Silver
                        h5
                            small $
                            | 150/m
                    ul
                        li 10 User
                        li 1 Year
                        li 512 Mb Memory
                        li 30GB SSD Disk
                        li 1 TB Transfer
                        li 6 Months Support
                    a(href='#') Order Now
            .col-md-4.col-sm-4.col-xs-12.col-6
                .single-price
                    .prc-head
                        span Silver
                        h5
                            small $
                            | 250/m
                    ul
                        li 10 User
                        li 1 Year
                        li 512 Mb Memory
                        li 30GB SSD Disk
                        li 1 TB Transfer
                        li 6 Months Support
                    a(href='#') Order Now
// pricing area end
// team area start
section#team.team-area.bg-gray.ptb--100
    .container
        .section-title
            h2 Our Amazing Team
            p Nemo enim ipsam voluptatem quia voluptas sit
        .row
            .col-md-3.col-sm-6.col-xs-12.col-6
                .single-team
                    .team-thumb
                        img(src='assets/img/team/team-img1.jpg' alt='image')
                    h4 Jhon Deo
                    span Web Developer
                    ul.tst-social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                        li
                            a(href='#')
                                i.fa.fa-linkedin
                        li
                            a(href='#')
                                i.fa.fa-dribbble
                        li
                            a(href='#')
                                i.fa.fa-ponterest
            .col-md-3.col-sm-6.col-xs-12.col-6
                .single-team
                    .team-thumb
                        img(src='assets/img/team/team-img2.jpg' alt='image')
                    h4 Jhon Deo
                    span Web Developer
                    ul.tst-social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                        li
                            a(href='#')
                                i.fa.fa-linkedin
                        li
                            a(href='#')
                                i.fa.fa-dribbble
                        li
                            a(href='#')
                                i.fa.fa-ponterest
            .col-md-3.col-sm-6.col-xs-12.col-6
                .single-team
                    .team-thumb
                        img(src='assets/img/team/team-img2.jpg' alt='image')
                    h4 Jhon Deo
                    span Web Developer
                    ul.tst-social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                        li
                            a(href='#')
                                i.fa.fa-linkedin
                        li
                            a(href='#')
                                i.fa.fa-dribbble
                        li
                            a(href='#')
                                i.fa.fa-ponterest
            .col-md-3.col-sm-6.col-xs-12.col-6
                .single-team
                    .team-thumb
                        img(src='assets/img/team/team-img4.jpg' alt='image')
                    h4 Jhon Deo
                    span Web Developer
                    ul.tst-social
                        li
                            a(href='#')
                                i.fa.fa-facebook
                        li
                            a(href='#')
                                i.fa.fa-twitter
                        li
                            a(href='#')
                                i.fa.fa-linkedin
                        li
                            a(href='#')
                                i.fa.fa-dribbble
                        li
                            a(href='#')
                                i.fa.fa-ponterest
// team area end
// call-action area start
section#download.call-to-action.ptb--100
    .container
        .section-title.text-white
            h2 Our Amazing Team
            p Nemo enim ipsam voluptatem quia voluptas sit
        .download-btns.btn-area.text-center
            a(href='#')
                i.fa.fa-apple
                | android story
            a(href='#')
                i.fa.fa-windows
                | Windows story
            a(href='#')
                i.fa.fa-android
                | android story
// call-action area end
// blog area start
section#blog.blog-post.ptb--100
    .container
        .section-title
            h2 Latest News
            p Nemo enim ipsam voluptatem quia voluptas sit
        .row
            .col-md-4.col-sm-6.col-xs-12.col-6
                .single-post
                    a(href='blog.html')
                        img(src='assets/img/blog/blog-post-img.jpg' alt='blog image')
                    .blog-meta
                        ul
                            li
                                i.fa.fa-user
                                | John
                            li
                                i.fa.fa-comment
                                | Comments
                            li
                                i.fa.fa-calendar
                                | 21 Feb 2018
                    h2
                        a(href='blog.html') There are many variations
                    p
                        | Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-4.col-sm-6.col-xs-12.col-6
                .single-post
                    a(href='blog.html')
                        img(src='assets/img/blog/blog-post-img1.jpg' alt='blog image')
                    .blog-meta
                        ul
                            li
                                i.fa.fa-user
                                | John
                            li
                                i.fa.fa-comment
                                | Comments
                            li
                                i.fa.fa-calendar
                                | 21 Feb 2018
                    h2
                        a(href='blog.html') There are many variations
                    p
                        | Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .col-md-4.col-sm-6.col-xs-12.col-6
                .single-post
                    a(href='blog.html')
                        img(src='assets/img/blog/blog-post-img2.jpg' alt='blog image')
                    .blog-meta
                        ul
                            li
                                i.fa.fa-user
                                | John
                            li
                                i.fa.fa-comment
                                | Comments
                            li
                                i.fa.fa-calendar
                                | 21 Feb 2018
                    h2
                        a(href='blog.html') There are many variations
                    p
                        | Lorem ipsum dolor sit amet,ut consectetur adipisicing elit,eiusmod tempor incididunt ut labore et dolore magna aliqua.
// blog area end
// client area start
.clinet-area.bg-gray.ptb--100
    .container
        .client-carousel.owl-carousel
            img(src='assets/img/client/client-img.png' alt='client image')
            img(src='assets/img/client/client-img1.png' alt='client image')
            img(src='assets/img/client/client-img2.png' alt='client image')
            img(src='assets/img/client/client-img3.png' alt='client image')
            img(src='assets/img/client/client-img1.png' alt='client image')
// client area end
// contact area start
section#contact.contact-area.ptb--100
    .container
        .section-title
            h2 Contact Us
            p Nemo enim ipsam voluptatem quia voluptas sit
        .row
            .col-md-6.col-sm-6.col-xs-12
                .contact-form
                    form(action='#')
                        input(type='text' name='name' placeholder='Enter Your Name')
                        input(type='text' name='email' placeholder='Enter Your Email')
                        textarea#msg(name='msg' placeholder='Your Message ')
                        input#send(type='submit' value='Send')
            .col-md-6.col-sm-6.col-xs-12
                .contact_info
                    .s-info
                        i.fa.fa-map-marker
                        .meta-content
                            span 17 Bath Rd, Heathrow, Longford,Hounslow
                            span TW7 1AB, UK
                    .s-info
                        i.fa.fa-mobile
                        .meta-content
                            span +0123 456 789 78
                            span +0123 456 789 78
                    .s-info
                        i.fa.fa-paper-plane
                        .meta-content
                            span Support@domain.com
                            span Example@Gmail.com
                    .c-social
                        ul
                            li
                                a(href='#')
                                    i.fa.fa-facebook
                            li
                                a(href='#')
                                    i.fa.fa-twitter
                            li
                                a(href='#')
                                    i.fa.fa-behance
                            li
                                a(href='#')
                                    i.fa.fa-dribbble
// contact area end
// footer area start
footer
    .footer-area
        .container
            p
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                | Copyright &copy;
                script.
                    document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with
                i.fa.fa-heart-o(aria-hidden='true')
                |  by
                a(href='https://colorlib.com' target='_blank') Colorlib
                // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// footer area end
// Scripts
script(src='assets/js/jquery-3.2.0.min.js')
script(src='assets/js/jquery-ui.js')
script(src='assets/js/bootstrap.min.js')
script(src='assets/js/jquery.slicknav.min.js')
script(src='assets/js/owl.carousel.min.js')
script(src='assets/js/magnific-popup.min.js')
script(src='assets/js/counterup.js')
script(src='assets/js/jquery.waypoints.min.js')
script(src='assets/js/jquery.mb.YTPlayer.min.js')
script(src='assets/js/theme.js')

